.container-submit-task {
  background-color: #f5f5f5;
  width: 800px;
  /* height: 500px; */
  margin: auto;
  margin-top: 5rem;
}
.task-submitted-title {
  width: 800px;
  height: 80px;
  background-color: #ebc010;
  font-size: 25px;
}
.task-submitted-title p {
  padding: 20px;
  font-weight: 600;
}
.poject-title {
  width: 800px;
}
.project-title-container {
  /* width: 120px;
  height: 40px; */
  display: inline-block;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
  background-color: #464642;

  margin: 30px;
  border-radius: 20px;
}
.project-title-container-p {
  color: #f9f9ff;
  text-align: center;
  padding-top: 5px;
}
.project-description {
  margin-top: -10px;
}
.project-description-p {
  padding-left: 60px;
  padding-right: 60px;

  text-align: justify;
  font-size: 14px;
}
