.card-container {
  border-top-left-radius: 80px;
  background-color: #ebc010;
  width: 230px;

  margin: 20px;
  transition: 0.5s ease;
}

.card {
  transition: 0.5s ease;
  cursor: pointer;
  box-shadow: 2px 2px 10px #ebc010, -2px -2px 10px #ebc010;

  margin-bottom: 30px;
  width: 200px;
  margin: 15px;
  border-bottom-right-radius: 40px;
}
.card:hover {
  transform: scale(1.2);
  border-bottom-right-radius: 0;
}

.card-img {
  width: 80px;
  height: 80px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.card-title {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.card-text {
  text-align: center;

  font-size: 13px;
}
